services:
  mariadb:
    build: ./requirements/mariadb
    env_file:
      - .env
    volumes:
      - db:/var/lib/mysql
    networks:
      - inception
    restart: always

  wordpress:
    build: ./requirements/wordpress
    env_file:
      - .env
    volumes:
      - wp:/var/www/html
    networks:
      - inception
    depends_on:
      - mariadb
    restart: always

  nginx:
    build: ./requirements/nginx
    env_file:
      - .env
    volumes:
      - wp:/var/www/html
    networks:
      - inception
    depends_on:
      - wordpress
    ports:
      - "443:443"
      - "80:80"
    restart: always

  ftp:
    build: ./requirements/bonus/ftp
    env_file:
      - .env
    volumes:
      - wp:/var/www/html
    networks:
      - inception
    depends_on:
      - wordpress
    ports:
      - "2121:21"
      - "60000-60010:60000-60010"
    restart: always

  website:
    build: ./requirements/bonus/website
    networks:
      - inception
    ports:
      - "5000:5000"
    restart: always

volumes:
  db:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/necro/data/db/
  wp:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/necro/data/wp/

networks:
  inception:
    driver: bridge
